name: Build/Publish Docker Image 

on:
  push:
    branches:
      - 'main'
  pull_request:
    types: [closed]
  
jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
      with:
        version: latest
    
    - name: Login to Docker Registry
      uses: docker/login-action@v1
      with:
        registry: docker.io
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        platforms: linux/amd64, linux/arm64, linux/arm/v7
        push: true
        tags: husarion/rosbot:latest   
        cache-from: type=registry,ref=husarion/rosbot
        cache-to: type=inline